.Flag{
  width: 2.5ex;
  height: 2ex;
  margin-right: 1ex;
}

.Logo {
  text-align: center;
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  height: 1.2ex;
  width: 1.2ex
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}